<section id="page_content">
  <h1>About Jeremy</h1>
  <p>
    Jeremy started playing the cello when he was 9, in 1972. That same year, he gained a
    scholarship to the 
    <%= link_to "Royal College of Music", "http://www.rcm.ac.uk", target: "_blank", rel: "nofollow" %>,
    under the tutelage of 
    <%= link_to "Ivan Andrews", "https://www.youtube.com/watch?v=XVym7gR5qQQ", target: "_blank", rel: "nofollow" %>. By 11, he had achieved Grade 8, by 15 he left most disheartened, not to play cello again for 8 years. And so he attended the 
    <%= link_to "London College of Furniture", "http://www.londonmet.ac.uk/schools/the-cass/", target: "_blank", rel: "nofollow" %>
    for three years. After leaving, he apprenticed with 
    <%= link_to "Malcolm Healey", "http://www.healeyviolins.co.uk/index.php", target: "_blank", rel: "nofollow" %>
    and 
    Michael Shakespeare,
    and since has been working mostly on his own.
  </p>
  <p>
  Jeremy reads an awful lot and swims and is an experienced
  <%= link_to "glider pilot", "https://drive.google.com/file/d/0B3pWHCVCtaBMYW9la3BXQTlQX0E/view?usp=drive_web", target: "_blank", rel: "nofollow" %>.
  </p>
    <p>
    <%= image_tag("CelloWorkshop.jpg", alt: "Creating a Cello") %>
  </p>

</section>