<section id="page_content">
  <h1>Copy of Gore-Booth Stradivarius of 1710</h1>
  <p>
    This cello is also based on the Gore-Booth Stradivarius of 1710. The string length is 690mm. The
    back length is 776mm.  
  </p>
  <section id="cello_details">
    <%= link_to(image_path("cello2/front.png")) do %>
      <fieldset>
        <%= image_tag("cello2/front_small.png", alt: "Gore-Booth copy") %>
        <caption>Front View</caption>
      </fieldset>
    <% end %>
    <%= link_to(image_path("cello2/back.png")) do %>
      <fieldset>
        <%= image_tag("cello2/back_small.png", alt: "Gore-Booth copy") %>
        <caption>Back View</caption>
      </fieldset>
    <% end %>
    <%= link_to(image_path("cello2/scroll_front.png")) do %>
      <fieldset>
        <%= image_tag("cello2/scroll_front_small.png", alt: "Gore-Booth copy") %>
        <caption>Scroll Front</caption>
      </fieldset>
    <% end %>
    <%= link_to(image_path("cello2/scroll_back.png")) do %>
      <fieldset>
        <%= image_tag("cello2/scroll_back_small.png", alt: "Gore-Booth copy") %>
        <caption>Scroll Back</caption>
      </fieldset>
    <% end %>    
  </section>
</section>