<section id="page_content">
  <h1>Copy of Amaryllis Fleming Stradivarius of 1717</h1>
  <p>
    This cello is based on the beautiful Amaryllis Fleming Stradivarius of 1717. This was a composite with back and ribs by Stradivari and the top and head made later by Contreras. On my cello, the string length is 690mm, the back length is 764mm.
  </p>  
  <section id="cello_details">
    <%= link_to(image_path("cello3/front.png")) do %>
      <fieldset>
        <%= image_tag("cello3/front_small.png", alt: "Gore-Booth copy") %>
        <caption>Front View</caption>
      </fieldset>
    <% end %>
    <%= link_to(image_path("cello3/back.png")) do %>
      <fieldset>
        <%= image_tag("cello3/back_small.png", alt: "Gore-Booth copy") %>
        <caption>Back View</caption>
      </fieldset>
    <% end %>
    <%= link_to(image_path("cello3/scroll_front.png")) do %>
      <fieldset>
        <%= image_tag("cello3/scroll_front_small.png", alt: "Gore-Booth copy") %>
        <caption>Scroll Front</caption>
      </fieldset>
    <% end %>
    <%= link_to(image_path("cello3/scroll_back.png")) do %>
      <fieldset>
        <%= image_tag("cello3/scroll_back_small.png", alt: "Gore-Booth copy") %>
        <caption>Scroll Back</caption>
      </fieldset>
    <% end %>    
  </section>
</section>